body {
  background-image: url('../../imgs/gif-cifrao-animado.gif')
}

#loginid {
  background-color: rgb(228, 201, 3);
}

.hero-body {
  background-image: url('https://media4.giphy.com/media/OQ6NOoYRWOiUgLfjTr/giphy.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15%;
}

.value {
  width: 150px;
}

.description {
  width: 250px;
}

.margin-inputs {
  margin: 10px;
}

.marg {
  margin: 10px;
}

.contai {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.valor-descrição {
  display: flex;
  flex-direction: row;
}

.no-margin {
  line-height: 0%;
}

.marg {
  margin-left: 0%;
}

.form1 {
  display: flex;
  flex-direction: column;
  background-color: rgb(221, 221, 221);
}
